.add-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  gap: 30px;
  border-radius: 10px;
  border: 1px solid var(--border-gray);
  margin: 20px 0;
}

.input-error {
  border: 2px solid #ff4444 !important;
  background-color: #fff5f5;
}

.add-item-fields {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.add-item-button {
  background-color: var(--error-red);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  transition: 0.15s ease-in-out;
}

.add-item-button:hover {
  background-color: var(--error-red-dark);
  translate: 0 -2px;
}

/* hide number input spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.add-item-button.save {
  background-color: var(--aca-blue-light);
}

.add-item-button.cancel {
  background-color: var(--medium-gray);
  color: #333;
}
